<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
  <div class="card-panel white col s6 offset-s3">
  <div class="row">
    <div class="col s7 m2">
      <%= message.sender.name %> <br>
      IMAGEN
      <br>
      <br>
      <br>
    </div>
    <div class="col s7 m5 offset-m1">
        <span class="black-text">
          <div align="left">
            <b>Subject: </b><%= message.subject %><br>
        
            <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
            <p><big><b>Content:</b> <%= message.body %></big></p>
          </div>
        </span>
      </div>
    </div>

  </div>
<% end %>
