<%= link_to 'New Private Message', new_privatemessage_path %>
<table>
  <thead>
    <tr>
      <th>Recipent</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @privatemessage.each do |privatemessage| %>
      <tr>
        <td><%= privatemessage.usr_reciever %></td>
        <td><%= link_to privatemessage.pm_subject, privatemessage_path(privatemessage) %></td>
      </tr>

    <% end %>
  </tbody>
</table>