<div class="div-desktop">
</br>
  <div class="row">
  	<div class="chip col offset-s1 s4">
  	<center><a class="" href="/conversations/new">New Message</a>
    </div>
    <div class="chip col s4 offset-s2"></center>
    <center><a class="" href="/mailbox/inbox">Inbox</a></center>
    </div>
  </div>
  <div class="row"> 
    <div class="chip col s4">
    <center><a class="" href="/mailbox/sent">Sent</a></center>
    </div>
    <div class="chip col s4">
    <center><a class="" href="/mailbox/trash">Trash</a></center>
    </div>
    <div class="chip col s4">
    <center><a class="" href="/posts/index">Return home</a></center>
	  </div>
  </div>
	
</div>