<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 16%">
  <a class="btn-floating btn-large deep-orange">
    <i class="large mdi-navigation-menu"></i>
  </a>
  <ul>
      <li>
         <a class="btn-floating orange" href="/conversations/new"><i class="material-icons">edit</i></a>
      </li>
      <li>
        <a class="btn-floating orange" href="/mailbox/inbox"><i class="material-icons">email</i></a>
      </li> 
      <li>
        <a class="btn-floating orange" href="/mailbox/sent"><i class="material-icons">done_all</i></a>
      </li>
      <li>
        <a class="btn-floating orange" href="/mailbox/trash"><i class="material-icons">delete</i></a>
      </li>
      <li>
        <a class="btn-floating orange" href="/posts/index"><i class="material-icons">home</i></a>
      </li>
  </ul>
</div>



