<center>
  <div class="tabs-wrapper pinned" style="top: 100px;">
    <a id="button" class="waves-effect waves-light btn" href="/conversations/new">New Message</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/mailbox/inbox">Inbox</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/mailbox/sent">Sent</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/mailbox/trash">Trash</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/posts/index">return home</a>
  </div>
</center>

<style>
    #button { width: 170px; margin-left: 18px;}
</style>