<div class="row">
  <div class="col s3 m3 l2">
    <%= render partial: 'menusidebar' %>
  </div>
  <div class="col s6 m6 l8 offset-l2">
<div class="container">
  <h3>Trash</h3>
  <%= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @trash } %>
</div> 
</div>