<main class="">
	<div class="intro head blue lighten-2 z-depth-1">
		<h1 id="title" class="grey-text text-lighten-5">TECHFORUM</h1>
	</div>
	<div class="newmenu">
		<div>
			<h1 id="title1">Lo que puedes hacer:</h1>
		</div>
		<div class="row">
			<div class="col s10 offset-s2 m1 offset-m3 link">
				 	<i class="material-icons circ">email</i>
					<p>Comunicate con otros usuarios.</p>
			</div>
			<div class="col s10 offset-s2 m1 offset-m1 link">
				 <i class="material-icons circ">question_answer</i>
				 <p>Pregunta. Discute. Participa.</p>
			</div>
			<div class="col s10 offset-s2 m1 offset-m1 link">
				 <i class="material-icons circ">edit</i> 
				 <p>Adquirir nuevo conocimiento.</p>
			</div>
			
			<div class="col s10 offset-s2 m1 offset-m1 link">
				 <i class="material-icons circ">tag_faces</i>
				 <p>Sé feliz.</p>
			</div>
		</div>
	</div>

		<div class="row">
			<div class="col s10 offset-s1">
				<!-- post section -->
				<div class="col s12 m4">
					<div id="postear" class="card">
						<div class="card-image">
							<img src="/assets/answer.jpg">
						</div>
						<div class="card-content">
							<span class="card-title">Postea tu pregunta</span>
						</div>				
							<div class="card-action">
								<a href="posts/new">Responder</a>
							</div>
					</div>

				</div>
				<!-- discussion section -->
				<div class="col s12 m4">
					<div id="discusion" class="card">
						<div class="card-image">
							<img src="/assets/answer.jpg">
						</div>
						<div class="card-content">
							<span class="card-title">Plantea discusión</span>
						</div>
						
							<div class="card-action">
								<a href="posts/new">Responder</a>
							</div>
					</div>
				</div>
				<!-- ask section -->
				<div class="col s12 m4">
					<div id="preguntar" class="card">
						<div class="card-image">
							<img src="/assets/answer.jpg">
						</div>
						<div class="card-content">
							<span class="card-title">Ayuda a alguien</span>
						</div>
							<div class="card-action">
								<a href="dashboards/posts">Responder</a>
							</div>
					</div>
				</div>
			</div>
		</div>

</main>

