<center>
  <div class="tabs-wrapper pinned" style="top: 100px;">
    <a class="waves-effect waves-light btn" href="/posts/new">New Post</a>
    <br>
    <br>
    <a class="waves-effect waves-light btn" href="/posts/myposts">My posts</a>
    <br>
    <br>
    <a class="waves-effect waves-light btn" href="/posts/questionswindow">Questions</a>
    <br>
    <br>
    <a class="waves-effect waves-light btn" href="/posts/discussionswindow">Discussions</a>
    <br>
    <br>
    <a class="waves-effect waves-light btn" href="/posts/index">All</a>
  </div>
 </center>