<center>
  <div class="tabs-wrapper pinned" style="top: 100px;">
    <a id="button" class="waves-effect waves-light btn" href="/posts/new">New Post</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/posts/index">All</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/posts/myposts">My posts</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/posts/questionswindow">Questions</a>
    <br>
    <br>
    <a id="button" class="waves-effect waves-light btn" href="/posts/discussionswindow">Discussions</a>
  </div>
</center>

<style>
    #button { width: 150px; margin-left: 18px;}
</style>