<div class="row">
	<div class="col s2 m3 l2">
		<%= render partial: 'menusidebar'%> 
	</div>
	<div class="col s6 m6 l8 offset-l2 offset-s3">
  		<h3> Question </h3>
    	<%= render partial: 'questions'%>    
    	<h3> Discussion</h3>
    	<%= render partial: 'discussion'%>
	</div>
	<center>
	<div class="col s3 m3 l2">
	<br>
	<h5>TOP TOPICS</h5>
	<br>
		<a href="/topics">All</a>
		<br>
      	<% @topic.each do |topic| %>
      		<%=link_to topic.name, { :action=>"index", :controller=>"posts", :topic_id =>topic.id} %><br>
      	<% end %>
	</div>
	</center>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });
</script>

<script type="text/javascript">
<!--
if (screen.width != 100) {

}
//-->
</script>