<div class="row">
	<div class="col m3 l2">
		<%= render partial: 'menusidebar'%> 
	</div>
	<div class="col s12  m6 l8 offset-l2 ">
  		<h3> Question </h3>
    	<%= render partial: 'questions'%>    
    	<h3> Discussion</h3>
    	<%= render partial: 'discussion'%>
	</div>
	<center>
	<div class="col m3 l2 div-mobile">
	<br>
	<h5>TOP TOPICS</h5>
	<br>
		<a href="/posts/index">All</a>
		<br>
      	<% @topic.each do |topic| %>
      		<%=link_to topic.name, { :action=>"index", :controller=>"posts", :topic_id =>topic.id} %><br>
      	<% end %>
      	<a href="/topics">More...</a>
	</div>
	</center>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });
</script>
