@import 'material';

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
#comment-card{
	min-height: 150px;
}

#mailbox:hover
{
	
}
#comments{
	width: 100%;
}