/*
*= require_self
*= require_tree .

h2{
	color:#ff0000;
}

*/

.demo-card-wide.mdl-card {
	width: 512;
}
.demo-card-wide > .mdl-card__title {
	color:red;
	height: 80px;
	background: url('http://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu{
	color:red;
}